@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    
    display: flex;
}
.sidebar{
    position: sticky;
    font-size: 20px;    
    width: 80px;
    height: 100vh;
    padding: 10px;    
    background: #70cde9;
    transition: all 0.5s linear;    
    overflow: hidden;
    color: #fff;
}
.sidebar:hover{
width: 240px;
transition: 0.5s;
}
.img{
    height: 80px;
    padding: 0px;
    display: flex;
    align-items: center;
    gap: 10px;

}
.img:hover{
   
    display: flex;
    justify-content: center;
    transition: 0.3s;
}
img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.img span{
    font-size: 14px;
    color: #000;
    font-weight: bold;
    font-family: "poppins";    
    overflow: hidden;
}
.menu{
    height: 88%;
    font-size: 14px;
    list-style: none;
    position: relative;
    padding: 0;
}
.menu ul{
    list-style: none;
}
.menu li{
    padding: 1rem;
    margin: 5px 0;
    transition: all 0.5s ease-in-out;

}
.menu li:hover, .active{
    background: #fff;
    transition: 0.3s;
    border-radius: 10px;
}
.menu a{
    text-decoration: none;
    color: blue;
    display: flex;
    align-items: center;
    gap: 10px;
}
.menu a i{
    font-size: 20px;
}
.menu a span{
    overflow: hidden;
}

/* *** main body *** */
.container{
    background: #f8f8f8;
    position: relative;
    width: 100%;
    padding: 10px;
}
.header{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background: #cecaca;
    border-radius: 10px;
    box-shadow: 20px;
}

/* Card-design ** */
.card-div{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    margin-top: 10px;
    height: 100px;
    background: #dddbdb;
    border-radius: 10px;
}
.card{
    width: 33%;
    height: 100%;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
    
}
